.big-logo {
    grid-area: logo;
    max-width: 500px;
    align-items: center;
}

.home-text {
    grid-area: text;
    text-align: center;
}

.day {
    width: 400px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    margin: 50px;
}

.day {
    width: 400px;
    border-radius: 20px;
}

.night {
    width: 400px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}


.day:hover {
    width: 400px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    margin: 50px;
}
.day:hover .night {
    display: inline;
}
