.big-logo {
    grid-area: logo;
    max-width: 500px;
    align-items: center;
}

.home-text {
    grid-area: text;
    text-align: center;
}

.day-to-night1 {
    width: 400px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    margin: 50px;
}

.day {
    width: 400px;
    border-radius: 20px;
}

.night {
    width: 400px;
    border-radius: 20px;
}

.day-to-night1 .night1 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}


.day-to-night1:hover .night1 {
    display: inline;
}

.day-to-night2 {
    width: 400px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    margin: 50px;
}

.day-to-night2 .night2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}


.day-to-night2:hover .night2 {
    display: inline;
}

.day-to-night3 {
    width: 400px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    margin: 50px;
}

.day-to-night3 .night3 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}


.day-to-night3:hover .night3 {
    display: inline;
}

.day-to-night4 {
    width: 400px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    margin: 50px;
}

.day-to-night4 .night4 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}


.day-to-night4:hover .night4 {
    display: inline;
}