.big-logo{
    grid-area: logo;
    width: 500px;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    background-color: #faebd765;
    margin: 100px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}