.big-logo {
    grid-area: logo;
    width: 500px;
    align-items: center;
}

.home-text {
    grid-area: text;
    text-align: center;
}

.picture-hover {
    width: 1000px;
    border-radius: 130px;
    position: relative;
    display: inline-block;
    margin: 50px;
}

.front-page {
    width: 1000px;
    border-radius: 130px;
}

.front-page-hover {
    width: 1000px;
    border-radius: 130px;

}


.picture-hover .front-page-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.picture-hover:hover .front-page-hover{
    display: inline;
}

@media only screen and (max-width: 600px) {

    .front-page {
        width: 400px;
        border-radius: 75px;
        margin: 0;
    }

    .front-page-hover {
        width: 400px;
        border-radius: 75px;
        margin: 0;
    }
}