

.big-logo{
    grid-area: logo;
    width: 500px;
    align-items: center;
}

.home-text{
    grid-area: text;
    text-align: center;
}


.front-page{
    width: 1000px;
    border-radius: 130px;
    grid-area: picture;
    align-items: center;

}


.front-page-hover{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .2s;
    width: 1000px;
    border-radius: 130px;
    grid-area: picture;
    align-items: center;

}
.front-page-hover:hover{
    opacity: 1;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    
    .front-page {
        width: 400px;
        border-radius: 75px;
    }
    .front-page-hover{
        width: 400px;
        border-radius: 75px;
    }
}