html body {
    background-image: url(/Assets/posters/poster.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    max-width: 1440px;

}

header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#2b3350a4, #14095256, #27113b6e);
    padding: 50px;
}


.grid-container-h {
    align-items: center;

}

.logo {
    
    width: 200px;
}

.links {
    text-align: start;
    color: aliceblue;
    justify-items: center;
}

.list-menu {
    justify-items: end;
}


@media only screen and (max-width: 600px){

    .big-logo{
        max-width: 400px;
    }
    main{
        padding: 50px;
        margin: 0;
    }

    .front-page{
        width: 100px;
    }