html body {
    background-image: url(/Assets/posters/poster.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    /* max-width: 1678px; */
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#2b3350a4, #14095256, #27113b6e);
    padding: 50px;
    max-width: 100%;

}

.logo {
    width: 200px;
    display: flex;
    flex-direction: row;
}

main {
    display: flex;
    flex-direction: column;
    /* background-color: #faebd765; */
    margin: 100px;
    margin-bottom: 0;
    padding: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    grid-area: main;
}

.menu-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    /* background-color: rgb(100, 16, 16); */
}

.big-logo {
    display: flex;
    
    align-items: center;
}

/* .logo {
    display: flex;
    grid-area: logo;
    width: 200px;
} */

.links {
    color: aliceblue;
    justify-content: space-between;
}

.list-menu {
    display: flex;
    flex-direction: row;
    color: aliceblue;
}

footer {
    grid-area: footer;
    background: linear-gradient(90deg, #2b3350a4, #14095256, #27113b6e);
    color: aliceblue;
    padding: 50px;
    max-width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {

    .big-logo {
        max-width: 400px;
    }

    header {
        padding: 0;
    }

    main {
        padding: 50px;
        margin: 0;
    }

    html body {
        background-size: contain;
    }
}