html body{
    background-image: url(/Assets/posters/poster.jpg);
    background-repeat: unset;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    max-width: 1440px;
    display: grid;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    background: linear-gradient(#2b3350a4, #14095256, #27113b6e);
}

.logo{
    
    width: 200px;
    
}

.links{
    text-align: start;
    color: aliceblue
}

.list-menu{
    justify-items: start;
}
