
.day-hover2:hover {
    width: 200px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    margin: 50px;
}
.day-hover1:hover .night2 {
    display: inline;
}

.day-hover3:hover {
    width: 200px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    margin: 50px;
}
.day-hover1:hover .night3 {
    display: inline;
}
.day-hover4:hover {
    width: 200px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    margin: 50px;
}
.day-hover1:hover .night4 {
    display: inline;
}




.about-pictures1 .night1 {
    display: none;
    
}

.about-pictures1:hover .night1{
    display: inline;
}

.about-pictures1 .night2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.about-pictures1:hover .night2{
    display: inline;
}

.about-pictures1 .night3 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.about-pictures1:hover .night3{
    display: inline;
}

.about-pictures1 .night4 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.about-pictures1:hover .night4{
    display: inline;
}






.day:hover {
    width: 400px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    margin: 50px;
}









.day-to-night1 {
    width: 400px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    margin: 50px;
}

/*
.day {
    width: 400px;
    border-radius: 20px;
}

.night {
    width: 400px;
    border-radius: 20px;
}

.day-to-night1 .night1 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}


.day-to-night1:hover .night1 {
    display: inline;
}

.day-to-night2 {
    width: 400px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    margin: 50px;
}

.day-to-night2 .night2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}


.day-to-night2:hover .night2 {
    display: inline;
}

.day-to-night3 {
    width: 400px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    margin: 50px;
}

.day-to-night3 .night3 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}


.day-to-night3:hover .night3 {
    display: inline;
}

.day-to-night4 {
    width: 400px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    margin: 50px;
}

.day-to-night4 .night4 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}


.day-to-night4:hover .night4 {
    display: inline;
}









/* .front-page {
    width: 1000px;
    border-radius: 130px;
}

.front-page-hover {
    width: 1000px;
    border-radius: 130px;

}

.home-text {
    grid-area: text;
    text-align: center;
}

.picture-hover {
    width: 1000px;
    border-radius: 130px;
    position: relative;
    display: inline-block;
    margin: 50px;
}


.picture-hover .front-page-hover {
    display: none;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 99;
}
.picture-hover:hover .front-page-hover{
    display: inline;
} */














/*
.image-hover2 {
    background-image: url('../Assets/photos/06-day.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 900px;
    height: 800px;
}

.image-hover2:hover {
    background-image: url('../Assets/photos/06-night.jpg');
}*/


/* /.test-position {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    
}

.test-position p {
    align-self: flex-end;
}  */





   /* .image-hover2 {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 400px;
        height: 400px;
    } */







    html body {
        background-image: url(/Assets/posters/poster.jpg);
        background-repeat: repeat-y;
        background-attachment: fixed;
        background-size: cover;
        padding: 0;
        margin: 0;
        /* max-width: 1678px; */
        display: flex;
        flex-direction: column;
    }
    
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(#2b3350a4, #14095256, #27113b6e);
        padding: 50px;
        max-width: 100%;
    
    }
    
    .logo {
        width: 200px;
        display: flex;
        flex-direction: row;
    }
    
    main {
        display: flex;
        flex-direction: column;
        /* background-color: #faebd765; */
        margin: 100px;
        margin-bottom: 0;
        padding: 50px;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        grid-area: main;
    }
    
    .menu-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        /* background-color: rgb(100, 16, 16); */
    }
    
    .big-logo {
        display: flex;
        
        align-items: center;
    }
    
    /* .logo {
        display: flex;
        grid-area: logo;
        width: 200px;
    } */
    
    .links {
        color: aliceblue;
        justify-content: space-between;
    }
    
    .list-menu {
        display: flex;
        flex-direction: row;
        color: aliceblue;
    }
    
    footer {
        grid-area: footer;
        background: linear-gradient(90deg, #2b3350a4, #14095256, #27113b6e);
        color: aliceblue;
        padding: 50px;
        max-width: 100%;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }
    
    @media only screen and (max-width: 600px) {
    
        .big-logo {
            max-width: 400px;
        }
    
        header {
            padding: 0;
        }
    
        main {
            padding: 50px;
            margin: 0;
        }
    
        html body {
            background-size: contain;
        }
    }












    

.home-grid {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5em;
}

.image-gallery {
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
    padding: 1rem;
} 
 .image-wrapper{
    background-size: contain;
 }

.image-hover {
    background-image: url('../Assets/photos/05-day.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 900px;
    height: 800px;
}

.image-hover:hover {
    background-image: url('../Assets/photos/05-night.jpg');
}


@media only screen and (max-width: 600px) {

 
    .image-hover  {
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 400px;
        height: 400px;

    }
}